<div>
  <h4 class="card-title">Temprature Info</h4>
  <div class="card-text">
    <div>
      <span class="font-weight-bold">Main Temp.</span>
      <span class="pull-xs-right">{{main}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Max. Temp.</span>
      <span class="pull-xs-right">{{max}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Cores</span>
      <span class="pull-xs-right">{{cores}}</span>
    </div>
  </div>
  <br />
  <button class="btn btn-secondary">Refresh</button>
</div>
