<div class="col-xs-12 col-md-4 col-lg-2">
    <div class="card card-block mdc-text-grey-100 mdc-bg-red-A700">
        <h4 class="card-title">Speaker System</h4>
        <div class="card-text">
            <div class="top">
                <label>Kitchen</label>
                <ui-switch class="right" color="#01579B" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Dining Room</label>
                <ui-switch class="right" color="#FF9800" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Living Room</label>
                <ui-switch class="right" color="#CDDC39" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Temple Room</label>
                <ui-switch class="right" color="#FFD740" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Aarav Room</label>
                <ui-switch class="right" color="#8E24AA" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Guest Room</label>
                <ui-switch class="right" color="#00897B" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Master Room</label>
                <ui-switch class="right" color="#304FFE" size="medium" checked></ui-switch>
            </div>
        </div>
    </div>
</div>
