<div>
  <h4 class="card-title">System Information</h4>
  <div class="card-text">
    <div>
      <span class="font-weight-bold">Manufacturer</span>
      <span class="pull-xs-right">{{manufacturer}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Model</span>
      <span class="pull-xs-right">{{model}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Version</span>
      <span class="pull-xs-right">{{version}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Serial</span>
      <span class="pull-xs-right">{{serial}}</span>
    </div>
    <div>
      <span class="font-weight-bold">UUID</span>
      <span class="pull-xs-right">{{uuid}}</span>
    </div>
  </div>
  <br />
  <button class="btn btn-secondary">Refresh</button>
</div>
