<div>
  <h4 class="card-title">Memory Info</h4>
  <div class="card-text">
    <div>
      <span class="font-weight-bold">Total</span>
      <span class="pull-xs-right">{{total}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Free</span>
      <span class="pull-xs-right">{{free}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Used</span>
      <span class="pull-xs-right">{{used}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Active</span>
      <span class="pull-xs-right">{{active}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Buffer Cache</span>
      <span class="pull-xs-right">{{buffcache}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Available</span>
      <span class="pull-xs-right">{{available}}</span>
    </div>
  </div>
  <br />
  <button class="btn btn-secondary">Refresh</button>
</div>
