<div class="col-xs-12 col-md-4 col-lg-2">
    <div class="card card-block mdc-text-grey-100 mdc-bg-lime-900">
        <h4 class="card-title">Water Sprinker</h4>
        <div class="card-text">
            <div class="top">
                <label>Front Yard - Zone 1</label>
                <ui-switch class="right" color="blue" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Front Yard - Zone 2</label>
                <ui-switch class="right" color="red" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Back Yard - Zone 1</label>
                <ui-switch class="right" color="cyan" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Back Yard - Zone 2</label>
                <ui-switch class="right" color="orange" size="medium" checked></ui-switch>
            </div>
        </div>
    </div>
</div>
