<div class="col-xs-12 col-md-4 col-lg-2">
    <div class="card card-block mdc-text-grey-100 mdc-bg-cyan-900">
        <h4 class="card-title">Alarm System</h4>
        <div class="card-text">
            <div class="top">
                <label>Front Main Door</label>
                <ui-switch class="right" color="blue" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Back Main Door</label>
                <ui-switch class="right" color="red" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Kitchen/Garage Door</label>
                <ui-switch class="right" color="cyan" size="medium" checked></ui-switch>
            </div>
        </div>
    </div>
</div>
