<div class="col-xs-12 col-md-4 col-lg-2">
    <div class="card card-block mdc-text-grey-100 mdc-bg-purple-A700">
        <h4 class="card-title">Light Control</h4>
        <div class="card-text">
            <div class="top">
                <label>Kitchen - Zone 1</label>
                <ui-switch class="right" color="blue" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Kitchen - Zone 2</label>
                <ui-switch class="right" color="red" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Office - Zone 1</label>
                <ui-switch class="right" color="cyan" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Office - Zone 2</label>
                <ui-switch class="right" color="orange" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Dining - Zone 1</label>
                <ui-switch class="right" color="yellow" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Dining - Zone 2</label>
                <ui-switch class="right" color="teal" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Living (Lights) - Zone 1</label>
                <ui-switch class="right" color="lime" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Living (Lights) - Zone 2</label>
                <ui-switch class="right" color="green" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Living (Fan)</label>
                <ui-switch class="right" color="brown" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Temple Room - Lights</label>
                <ui-switch class="right" color="indigo" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Aarav Room - Lights</label>
                <ui-switch class="right" color="grey" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Guest Room - Lights</label>
                <ui-switch class="right" color="#18FFFF" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Master Room - Lights</label>
                <ui-switch class="right" color="#76FF03" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Patio - Lights</label>
                <ui-switch class="right" color="#FFD600" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Patio - Fan</label>
                <ui-switch class="right" color="#3F51B5" size="medium" checked></ui-switch>
            </div>
            <hr />
            <div class="top">
                <label>Porch - Lights</label>
                <ui-switch class="right" color="#C51162" size="medium" checked></ui-switch>
            </div>
            <div class="top">
                <label>Porch - Fan</label>
                <ui-switch class="right" color="#0091EA" size="medium" checked></ui-switch>
            </div>
        </div>

    </div>
</div>
